---
layout: default
---

<h1>新闻</h1>

<div class="post">

  {% for post in site.posts %}
  <header class="post-header">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <h1>{{ post.title }}</h1>
    </a>
    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ post.content }}
  </article>
  {% endfor %}

</div>

<p class="rss-subscribe">通过<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>订阅</p>
